.register__save {
  margin: 186px 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}